.logo-img {
    width: 186px;
}

.quote-btn {
    font-size: 14px;
    background-image: linear-gradient(90deg, #708409 0%, #b7d327 100%);
    padding: 13px 22px;
    border-radius: 3px;
    color: #fff;
    font-weight: 500;
    margin-top: 10%;
}